#test {
  transition: all 0.2s cubic-bezier(0, 1, 0.5, 1);
  overflow: hidden;
  height: 0;
  #test {
    transition: all 0.2s cubic-bezier(0, 1, 0.5, 1);
    overflow: hidden;
    height: 0;
    #test {
      transition: all 0.2s cubic-bezier(0, 1, 0.5, 1);
      overflow: hidden;
      height: 0;
    }
  }
  #test {
    transition: all 0.2s cubic-bezier(0, 1, 0.5, 1);
    overflow: hidden;
    height: 0;
  }
}